@import url(./fonts/fonts.css);

body {
  margin: 0;
  font-family: 'Lazy Dog', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* hero */
.hero {
  max-width: 500px;
  margin: 0 auto;
  padding: 5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.hero-scroll {
  margin-top: 50px;
  font-size: 2rem;
  color: #222;
}

.hero-heading {
  font-size: 5rem;
  color: #333;
  text-align: center;
}

.hero-heading span {
  color: #000;  
  font-size: 9rem;
}

.hero-confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-heart {
  transition: all ease 0.2s;
}

.heart-left {
  position: absolute;
  left: 100px;
  transform: rotate(-30deg);
}

.heart-right {
  position: absolute;
  right: 100px;
  transform: rotate(30deg);
}

.hero-heart svg {
  width: 200px;
  height: 200px;
}

.hero-heart svg path {
  stroke: #ed637c;
}

.scrollingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 120vh;
  align-items: center;
  justify-content: center;
  background-color: #ed637c;
}

.night-bg {
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/allthestarsatnight.webp);
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease; /* You can adjust the duration and easing as needed */
}

.night-bg.show {
  opacity: 1;
}


.night-container {
  padding: 10rem;
  text-align: center;
}

.growingOldWithYou-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.my-sundori-gallery {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.my-sundori-gallery img {
  width: 220px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.mysundori-image-1 {
  position: relative;
  transform: rotate(-15deg);
}

.mysundori-image-2 {
  position: relative;
  transform: rotate(15deg);
}

.mysundori-image-3 {
  position: relative;
  transform: rotate(-15deg);
}

.mysundori-image-4 {
  position: relative;
  transform: rotate(15deg);
}

.mysundori-image-5 {
  position: relative;
  transform: rotate(-15deg);
}

.mysundori-image-container {
  position: relative;
}

.mysundori-image {
  position: relative;
  transform: rotate(-15deg);
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: #FF7B94;
  transform: translate(-50%, -50%);
}
